<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527149308576-kh98pr10d020u8u01s1ii6fc2pub6pfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527149308576-kh98pr10d020u8u01s1ii6fc2pub6pfh</string>
	<key>API_KEY</key>
	<string>AIzaSyBnQngZXCKUwwNfO6i4JiEwQEU8Lb8zSus</string>
	<key>GCM_SENDER_ID</key>
	<string>527149308576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BuzzwareTech.PERSApp</string>
	<key>PROJECT_ID</key>
	<string>pers-427bd</string>
	<key>STORAGE_BUCKET</key>
	<string>pers-427bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527149308576:ios:f1c7458bc9ebb0b7c887c5</string>
</dict>
</plist>