<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FitnessVideoApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
				<key>dateExpires</key>
				<string>24/05/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ASPVideoPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpandingMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VersaPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>111213819C78A7BD0DEED5837F0203A04C563DD5</string>
						<key>dateExpires</key>
						<string>24/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>638JFH4RR5</string>
						<key>name</key>
						<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>638JFH4RR5.com.asadullah.FitnessVideoApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>638JFH4RR5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>638JFH4RR5.com.asadullah.FitnessVideoApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>FitnessVideoApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e45651e0-81df-4469-88dc-193cbd6fbfbc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.asadullah.FitnessVideoApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>638JFH4RR5</string>
				<key>name</key>
				<string>BUZZWARE TECH (PRIVATE) LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
